/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* 
==========================
Custom Style
==========================
 */

.body-home {
  background-image: url(images/cooking.jpg);
  background-repeat: no-repeat;
  color: rgb(32, 93, 32);
}

.body-other {
  background-image: url(images/cooking.jpg);
  background-repeat: no-repeat;
  color: rgb(32, 93, 32);
}

/* 
 =========================
 Grid
 =========================
  */

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.container, .grid {
  margin: 0 auto;
  width: 80%;
}

.container {
  padding-left: 30px;
  padding-right: 30px;
}

.col-1-3, .col-2-3 {
  display: inline-block;
  vertical-align: top;
}

.col-2-3 {
  width: 66.66%;
}

/* 
========================
Clearfix
========================
 */

.group:before, .group:after {
  content: "";
  display: table;
}

.group:after {
  clear: both;
}

.group {
  clear: both;
  *zoom: 1;
}

/* 
===========================
Primary Header
===========================
 */

.logo {
  font-family: 'Indie Flower', cursive;
  font-size: 48px;
  text-align: left;
  padding: 30px;
  margin-left: -100px;
}

header .logo a {
  color: #205d20;
}

header .logo a:hover {
  color: rgb(38, 167, 91);
}

a {
  text-decoration: none;
}

nav {
  text-align: right;
  width: 60%;
  padding: 15px;
  margin-left: -200px;
  margin-top: 0px;
}

nav li {
  display: inline-block;
  margin: 0 15px;
}

nav li:last-child {
  margin-right: 0;
}

nav li a {
  color: #205d20;
  font-family: 'Indie Flower', cursive;
  font-weight: 400;
  font-size: 20px;
}

nav li a:hover {
  color: rgb(38, 167, 91);
}

h1 {
  display: inline-block;
}

header ul {
  margin: 0;
}

/* 
=====================
Images
=====================
 */

.home-img {
  border-radius: 50%;
  width: 300px;
}

.img-margin {
  margin: 0 0 0 100px;
}

.steak {
  height: 200px;
}

.recipe-img {
  width: 64.58%;
  margin-top: 5.2083%;
}

.center {
  text-align: center;
}

div {
  width: 960px;
}

.center img {
  display: inline-block;
}

/* 
======================
Primary Footer
======================
 */

.footer-nav {
  width: 100%;
  display: inline-block;
  margin-left: -18%;
  margin-top: 15px;
  padding-bottom: 25px;
}

footer small {
  display: inline-block;
  margin-left: 4%;
}

footer {
  margin-top: 32%;
  background: rgb(236, 234, 234);
}

/* 
 ======================
 Typography
 ======================
  */

h3 {
  font-size: 24px;
  font-family: "Indie Flower", cursive;
  color: #fff;
  margin-bottom: 3.5%;
}

.col-1-3 h3:hover {
  color: #205d20;
}

.h3-margin {
  margin-left: 80px;
}

.h3-other {
  color: white;
  background: rgb(224, 37, 37);
  padding: 20px 146px 20px 0px;
  display: inline-block;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  text-transform: uppercase;
  width: 279px;
  margin-top: -15px;
}

h2 {
  color: black;
  font-family: "Indie Flower", cursive;
  font-size: 48px;
}

.h2-margin {
  margin-top: -450px;
  margin-bottom: 25px;
}

.byline {
  color: black;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.byline a {
  color: #205d20;
}

.byline a:hover {
  color: rgb(38, 167, 91);
}

aside {
  float: right;
  margin-top: -400px;
  margin-right: 100px;
}

/* 
  =====================
  Rows
  =====================
   */

.row {
  min-width: 960px;
  background: -webkit-linear-gradient(to bottom, #205d20, rgb(240, 233, 233));
  background: -moz-linear-gradient(to bottom, #205d20, rgb(240, 233, 233));
  background: linear-gradient(to bottom, #205d20, rgb(240, 233, 233));
  padding: 25px 0;
  text-align: center;
  margin-top: 45px;
}

.big-row {
  width: 100%;
  background: #fff;
  margin-top: 45px;
  padding: 500px 0 0 0;
}

/* 
======================
Recipes
======================
 */

td {
  padding: 15px;
  color: black;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  line-height: 22px;
  text-align: justify;
}

tr td:last-child {
  padding-right: 50px;
}

.recipe-padding {
  padding-bottom: 50px;
}

.cooking-padding {
  padding-top: 25px;
}

table {
  border: 1px solid gray;
  margin-top: -10px;
  border-top: none;
}

span {
  font-weight: 700;
}

.ingredients-h3 {
  color: black;
  padding-top: 15px;
  padding-bottom: 15px;
  background: rgb(236, 234, 234);
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 18px;
  text-align: left;
  padding-left: 25px;
  border-left: 1px solid gray;
  border-right: 1px solid gray;
}

aside ul {
  list-style-type: disc;
  color: black;
  list-style-position: inside;
  text-align: justify;
  padding-left: 15px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 14px;
  border: 1px solid gray;
  margin-top: -11px;
}

aside li {
  line-height: 22px;
}

aside li:first-child {
  padding-top: 15px;
}

aside li:last-child {
  padding-bottom: 15px;
}

.instructions-container {
  width: 279px;
}

p {
  font-size: 14px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  color: black;
  margin-bottom: 20px;
  text-align: left;
  margin-right: 30px;
  line-height: 22px;
  margin-left: 10px;
  padding-left: 15px;
  letter-spacing: 0.1px;
}

p:first-child {
  padding-top: 15px;
}

aside div {
  border: 1px solid gray;
  margin-top: -10px;
}

/* 
=======================
Recipes Body Section
=======================
 */

.body-recipe {
  font-family: "Open Sans Condensed", sans-serif;
  width: 65%;
  margin-top: 25px;
  font-size: 24px;
  letter-spacing: 0.2px;
  line-height: 36px;
  margin-left: 80px;
  padding-right: 90px;
  font-weight: 700;
}

.body-img {
  margin: 25px 70px 25px 0;
  width: 620px;
}

.img-alt {
  margin: 25px 450px 25px 0;
  width: 620px;
}

.body-p {
  margin-bottom: -150px;
}

/* 
===========================
About
===========================
 */

.about-img {
  width: 400px;
  margin-top: 50px;
  margin-left: 50px;
  margin-bottom: 150px;
  display: inline-block;
}

.img-div {
  text-align: left;
}

.body-div {
  float: right;
  width: 50%;
  display: inline-block;
  margin-top: -625px;
  margin-right: -10px;
  font-family: "Open Sans Condensed", sans-serif;
  font-size: 24px;
  line-height: 40px;
}

.footer-margin {
  margin-top: -75px;
}